* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #E6ECF0;
    font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

input, button {
    outline: none;
}

.content {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 30px;
}

/* HEADER */

header#main-header{
    height: 46px;
    background-color: #FFF;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 1;
}

header#main-header .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

header#main-header .content nav ul {
    display: flex;
    list-style: none;
}

header#main-header .content nav ul li {
    display: flex;
    font-size: 13px;
    color: #667580;
    font-weight: bold;
    align-items: center;
    margin-left: 30px;
}

header#main-header .content nav ul li img {
    margin-right: 7px;
}

header#main-header .content nav ul li:first-child {
    margin-left: 0;
}

header#main-header .content .side {
    display: flex;
}

header#main-header .content .side img {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin: 0 15px;
}

header#main-header .content .side input {
    width: 220px;
    background: #F5F8FA url('/images/search.svg') no-repeat 190px center;
    border: 1px solid #E6ECF0;
    height: 34px;
    padding: 0 30px 0 12px;
    border-radius: 16px;
    color: #667581;
    font-size: 12px;
}

header#main-header .content .side button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-weight: bold;
    font-size: 14px;
    background-color: #3bb9e3;
    width: 90px;
    height: 34px;
    border-radius: 16px;
    border: 0;
}

/* BANNER */

.banner {
    height: 380px;
    width: 100%;
    background: #3bb9e3;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #F5F8FA;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

/* SIDE BELOW BANNER */

.bar {
    height: 59px;
    background: #FFF;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

.bar .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 285px;
    height: 100%;
}

.bar .content ul {
    display: flex;
    list-style: none;
    height: 100%;
}

.bar .content ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 15px;
    position: relative;
}

.bar .content ul li.active::after {
    content: '';
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #3bb9e3;
}


.bar .content ul li span {
    color: #667580;
    font-size: 12px;
    font-weight: bold;
}

.bar .content ul li strong {
    color: #667580;
    font-size: 18px;
    font-weight: bold;
    margin-top: 2px;
}

.bar .content ul li.active strong {
    color: #3bb9e3;
}

.bar .content .actions {
    display: flex;
}

.bar .content .actions button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3bb9e3;
    font-weight: bold;
    border: 1px solid #3bb9e3;
    font-size: 14px;
    width: 90px;
    height: 34px;
    border-radius: 16px;
    background-color: #fff;
    margin-right: 20px;
}

/* LEFT SIDEBAR MAIN PAGE */
 
.wrapper-content {
    display: flex;
}

.wrapper-content .profile {
    width: 260px;
}

.wrapper-content .profile .avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #fff;
    margin-top: -130px;
}

.wrapper-content .profile h1 {
    font-size: 21px;
    color: #1F2226;
    margin-top: 10px;
}

.wrapper-content .profile span {
    font-size: 14px;
    color: #53626C;
    margin-top: 10px;
}

.wrapper-content .profile p {
    font-size: 14px;
    color: #1F2226;
    margin-top: 15px;
}

.wrapper-content .profile ul {
    margin-top: 20px;
    list-style: none;
}

.wrapper-content .profile .list li {
    font-size: 14px;
    color: #657786;
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.wrapper-content .profile .list li:first-child {
    margin-top: 0;
}

.wrapper-content .profile li img {
    margin-right: 10px;
}

.wrapper-content .profile .widget {
    margin-top: 30px;
}

.wrapper-content .profile .widget strong {
    font-weight: normal;
    color: #3bb9e3;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.wrapper-content .profile .widget strong img {
    margin-right: 5px;
}

.wrapper-content .profile .followers ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
}

.wrapper-content .profile .followers ul li {
    width: 45px;
    height: 45px;
    background: #D0D5D9;
    flex: 1 0 auto;
    border-radius: 50%;
    margin: 0px 5px 10px 0px;
}

.wrapper-content .profile .images ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.wrapper-content .profile .images ul li {
    width: 80px;
    height: 80px;
    background: #D0D5D9;
    flex-shrink: 0;
    border-radius: 5px;
    margin: 0px 5px 5px 0px;
}

/* TIMELINE */

.wrapper-content .timeline {
    flex: 1;
    background-color: #FFF;
    margin: 10px 20px 0px;
}

.wrapper-content .timeline nav {
    border-bottom: 1px solid #E6ECF0;
    padding: 10px 15px;
}

.wrapper-content .timeline nav a {
    text-decoration: none;
    color: #3bb9e3;
    font-size: 18px;
    font-weight: bold;
    margin-left: 20px;
}

.wrapper-content .timeline nav a:first-child {
    margin:0;
}

.wrapper-content .timeline nav .active {
    color: #1F2226;
}

.wrapper-content .timeline .tweets {
    list-style-type: none;
}

.wrapper-content .timeline .tweets li {
    border-bottom: 1px solid #E6ECF0;
    padding: 10px 15px;
    display: flex;
}

.wrapper-content .timeline .tweets li > img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.wrapper-content .timeline .tweets li .info {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.wrapper-content .timeline .tweets li .info strong {
    font-size: 14px;
    color: #1F2326;
}

.wrapper-content .timeline .tweets li .info strong span {
    font-size: 13px;
    color: #7B8B9A;
    font-weight: normal;
}

.wrapper-content .timeline .tweets li .info p  {
    font-size: 14px;
    color: #1F2326;
    margin-top: 5px;
}

.wrapper-content .timeline .tweets li .info .actions {
    display: flex;
    margin-top: 15px;
}

.wrapper-content .timeline .tweets li .info .actions a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #667580;
    font-weight: bold;
    font-size: 12px;
    margin-left: 30px;
}

.wrapper-content .timeline .tweets li .info .actions a:first-child {
    margin-left: 0;
}

.wrapper-content .timeline .tweets li .info .actions img {
    margin-right: 5px;
}

/* RIGHT SIDEBAR MAIN PAGE */

.wrapper-content .widgets {
    width: 290px;
    margin-top: 10px;
}

.wrapper-content .widgets .widget {
    position: relative;
    background: #FFF;
    padding: 15px;
}

.wrapper-content .widgets .widget .title {
    display: flex;
    align-items: baseline;
}

.wrapper-content .widgets .widget .title strong {
    font-size: 18px;
    color: #1F2226;
}

.wrapper-content .widgets .widget .title a {
    font-size: 12px;
    text-decoration: none;
    color: #3bb9e3;
    position: relative;
    padding-left: 12px;
}

.wrapper-content .widgets .widget .title a::before {
    content: '';
    width: 3px;
    height: 3px;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
    background: #222;
    position: absolute;
    left: 2px;
    top: 6px;
}

.wrapper-content .widgets .follow ul {
    list-style: none;
    margin-top: 10px;
}

.wrapper-content .widgets .follow ul li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccd6dd;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.wrapper-content .widgets .follow ul li .profile {
    display: flex;
    align-items: center;
}

.wrapper-content .widgets .follow ul li .profile img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 10px;
}

.wrapper-content .widgets .follow ul li .profile .info {
    display: flex;
    flex-direction: column;
}

.wrapper-content .widgets .follow ul li .profile .info strong {
    font-size: 14px;
    color: #1f2326;
}

.wrapper-content .widgets .follow ul li .profile .info strong span {
    font-weight: normal;
    color: #9a9a9a;
}

.wrapper-content .widgets .follow ul li .profile .info button {
    display: flex;
    margin-top: 4px;
    align-items: center;
    justify-content: center;
    color: #3bb9e3;
    font-weight: bold;
    border: 1px solid #3bb9e3;
    font-size: 14px;
    width: 90px;
    height: 27px;
    border-radius: 16px;
    background-color: #fff;
    margin-right: 20px;
}

.wrapper-content .widgets .follow ul li > a {
    color: #CCD6DD;
    text-decoration: none;
    font-size: 15px;
}

.wrapper-content .trends {
    margin-top: 10px;
}

.wrapper-content .trends strong {
    font-size: 18px;
}

.wrapper-content .trends strong span {
    font-size: 12px;
    text-decoration: none;
    color: #3bb9e3;
    position: relative;
    padding-left: 8px;
}

.wrapper-content .trends strong::before {
    content: '';
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #222;
    position: absolute;
    left: 82px;
    top: 25px;
}

.wrapper-content .trends ul {
    list-style: none;
    margin-top: 10px;
}

.wrapper-content .trends ul li {
    font-size: 14px;
    color: #3bb9e3;
    padding-bottom: 5px;
    font-weight: bold;
}